.profile {
  max-width: 880px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 120px 337px auto;
  color: white;
  align-items: center;
}

@media (max-width: 1279px) {
  .profile {
    width: 282px;
    padding-top: 38.25px;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
  }
}