@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/container/container.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__header/profile__header.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/edit-button/edit-button.css);
@import url(../blocks/add-button/add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__container/element__container.css);
@import url(../blocks/element/__foto/element__foto.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/__aktive/element__like_aktive.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__header/popup__header.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/form/__input-button/form__input-button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/popup/__container-figure/popup__container-figure.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__img-title/popup__img-title.css);

/*.form__input:valid {
  border: 1px solid green;
}

.form__input:invalid {
  border: 1px solid red;
} */

.form__input-button_inactive {
  background: #E5E5E5;
  border: 1px solid #000000;
  border-radius: 2px;
}

.form__input_type_error {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(255, 0, 0, 1);
}

.form__input-error {
  font-family: 'Inter', "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  width: 358px;
  margin: 0 36px;
  min-height: 30px;
  display: inline-block;
}